<!DOCTYPE html>
<html>
<head>
  <title>Rotary Realm</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

</head>
<body data-spy="scroll" data-target=".navbar">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"  data-toggle="collapse" data-target=".navbar-collapse" >
      <div class="container-fluid">
        
        <div class="navbar-header" ><!--  get rid ofthis border  --> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="projectName">
            <!-- <a href="#">HOME</a> -->
            <a href="https://twitter.com/rotaryrealm" class="twitter-follow-button" data-show-count="false" >
              Follow @RotaryRealm</a>
                
          </div>
        </div> 

        <div class="navbar-collapse collapse" id="nav">
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
              <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to "Products", products_path %></li>
              <li class="<%= 'active' if current_page?(static_pages_contact_path) %>"><%= link_to "Contact", static_pages_contact_path %></li>
              <li class="<%= 'active' if current_page?(static_pages_about_path) %>"><%= link_to "About", static_pages_about_path %></li>
              <li class="<%= 'active' if current_page?(static_pages_faq_path) %>"><%= link_to "FAQ", static_pages_faq_path %></li>
              
            </ul>
        </div>

      </div> 

    </nav> <!-- /nav -->

<%= yield %>


<footer> <div> &copy; Copyright 2015 901Ideas, Inc. | All Rights Reserved

      
             <div id="fbbtn" class="fb-page" data-href="https://www.facebook.com/901ideas" data-width="180" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false">
        <div class="fb-xfbml-parse-ignore">
          
            <a href="https://www.facebook.com/rotaryrealm">Like us on fb</a>
          
        </div>
      </div>
</div>
    </footer>
</body>
</html>
